<h1>New cocktail</h1>
<%= simple_form_for (@cocktail) do |f| %>
<%= f.input :name  %>
<%= f.submit %>
<% end %>

<%= cl_image_tag("x9sqvrjqbnv09vospten", width: 400, height: 300, crop: :fill) %>
<%= cl_image_tag("rlbvm15mjjypep68dkjv", width: 150, height: 150, crop: :thumb, gravity: :face) %>


